/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0b1 | 201101 
   NOTE: WORK IN PROGRESS
   USE WITH CAUTION AND TEST WITH ABANDON */
/* line 17, ../sass/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 28, ../sass/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 31, ../sass/_reset.scss */
body {
  line-height: 1;
}

/* line 34, ../sass/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 37, ../sass/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 41, ../sass/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* remember to define visible focus styles! 
:focus {
	outline: ?????;
} */
/* remember to highlight inserts somehow! */
/* line 52, ../sass/_reset.scss */
ins {
  text-decoration: none;
}

/* line 55, ../sass/_reset.scss */
del {
  text-decoration: line-through;
}

/* line 59, ../sass/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 1, ../sass/_loadTriangle.scss */
#loadTriangle {
  display: block;
  margin: auto;
  position: relative;
  top: 120px;
  -webkit-transform-origin: 50% 66.666666666666%;
  -moz-transform-origin: 50% 66.666666666666%;
  -ms-transform-origin: 50% 66.666666666666%;
  -o-transform-origin: 50% 66.666666666666%;
  -transform-origin: 50% 66.666666666666%;
  -webkit-animation: triangle-spinner 3300ms linear infinite;
  -moz-animation: triangle-spinner 3300ms linear infinite;
  -ms-animation: triangle-spinner 3300ms linear infinite;
  -o-animation: triangle-spinner 3300ms linear infinite;
  animation: triangle-spinner 3300ms linear infinite;
}

@-webkit-keyframes triangle-spinner {
  /* line 21, ../sass/_loadTriangle.scss */
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 22, ../sass/_loadTriangle.scss */
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-moz-keyframes triangle-spinner {
  /* line 25, ../sass/_loadTriangle.scss */
  0% {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 26, ../sass/_loadTriangle.scss */
  100% {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-o-keyframes triangle-spinner {
  /* line 29, ../sass/_loadTriangle.scss */
  0% {
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 30, ../sass/_loadTriangle.scss */
  100% {
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-ms-keyframes triangle-spinner {
  /* line 33, ../sass/_loadTriangle.scss */
  0% {
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 34, ../sass/_loadTriangle.scss */
  100% {
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes triangle-spinner {
  /* line 37, ../sass/_loadTriangle.scss */
  0% {
    transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 38, ../sass/_loadTriangle.scss */
  100% {
    transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* general */
/* line 8, ../sass/main_style.scss */
body {
  font-family: "Noto Sans", sans-serif;
  font-size: 15px;
  background-color: #fafafa;
  color: #151515;
}

/* line 15, ../sass/main_style.scss */
.clickable {
  cursor: pointer;
}

/* line 19, ../sass/main_style.scss */
p {
  line-height: 20px;
}

/* line 23, ../sass/main_style.scss */
a {
  color: #151515;
  text-decoration: none;
}
/* line 27, ../sass/main_style.scss */
a:hover {
  text-decoration: underline;
}

/* line 32, ../sass/main_style.scss */
canvas {
  display: block;
  margin: auto;
}

/* line 37, ../sass/main_style.scss */
.container {
  margin: auto;
  position: relative;
  width: 800px;
  padding-top: 30px;
}

@font-face {
  font-family: 'icomoon';
  src: url("fonts/icomoon.eot");
  src: url("fonts/icomoon.eot?#iefix") format("embedded-opentype"), url("fonts/icomoon.woff") format("woff"), url("fonts/icomoon.ttf") format("truetype"), url("fonts/icomoon.svg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 55, ../sass/main_style.scss */
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 69, ../sass/main_style.scss */
.icon-envelope:after {
  content: "\e600";
}

/* line 72, ../sass/main_style.scss */
.icon-github:after {
  content: "\e601";
}

/* line 75, ../sass/main_style.scss */
.icon-twitter:after {
  content: "\e602";
}

/* main info box */
/* line 2, ../sass/_infoBox.scss */
.info-main {
  float: left;
  width: 136px;
  text-align: right;
}

/* line 8, ../sass/_infoBox.scss */
.nav-header {
  font-size: 24px;
  font-weight: 600;
}

/* line 13, ../sass/_infoBox.scss */
.nav-item-group {
  margin: 24px 0px 24px;
  font-size: 16px;
}
/* line 17, ../sass/_infoBox.scss */
.nav-item-group .nav-item-line {
  margin-bottom: 7px;
}
/* line 22, ../sass/_infoBox.scss */
.nav-item-group .nav-item:hover {
  text-decoration: underline;
}

/* line 30, ../sass/_infoBox.scss */
.nav-connect-group div {
  margin-bottom: 7px;
}
/* line 35, ../sass/_infoBox.scss */
.nav-connect-group a:visited {
  color: #151515;
}
/* line 40, ../sass/_infoBox.scss */
.nav-connect-group .connect-icon {
  margin-left: 12px;
}

/* main viewing box */
/* line 2, ../sass/_mainViewer.scss */
.viewing-main {
  margin: 47px 0px 50px;
  padding-left: 200px;
}
/* line 6, ../sass/_mainViewer.scss */
.viewing-main.loading {
  padding: 0;
}

/* line 13, ../sass/_mainViewer.scss */
.about-content h3 {
  font-size: 16px;
  font-weight: 600;
}
/* line 18, ../sass/_mainViewer.scss */
.about-content p {
  margin-top: 15px;
}
/* line 21, ../sass/_mainViewer.scss */
.about-content p a {
  text-decoration: underline;
}

/* line 31, ../sass/_mainViewer.scss */
.portfolio-header {
  font-style: italic;
}

/* line 35, ../sass/_mainViewer.scss */
.portfolio-item {
  margin-top: 70px;
  border-top: 1px dotted #151515;
  padding-top: 20px;
}

/* line 41, ../sass/_mainViewer.scss */
.portfolio-header + .portfolio-item {
  margin-top: 40px;
}

/* line 45, ../sass/_mainViewer.scss */
.portfolio-item-title {
  font-size: 22px;
  font-weight: 700;
}

/* line 50, ../sass/_mainViewer.scss */
.portfolio-description-title {
  margin-top: 15px;
  font-style: italic;
}

/* line 55, ../sass/_mainViewer.scss */
.portfolio-description-body {
  margin-top: 15px;
}

/* line 59, ../sass/_mainViewer.scss */
.portfolio-responsibility-body {
  margin-top: 15px;
}

/* line 63, ../sass/_mainViewer.scss */
.portfolio-image {
  margin-top: 15px;
}
