/* line 17, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'icomoon';
  src: url("fonts/icomoon.eot");
  src: url("fonts/icomoon.eot?#iefix") format("embedded-opentype"), url("fonts/icomoon.woff") format("woff"), url("fonts/icomoon.ttf") format("truetype"), url("fonts/icomoon.svg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 12, ../sass/includes/_iconFont.scss */
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 26, ../sass/includes/_iconFont.scss */
.icon-envelope:after {
  content: "\e600";
}

/* line 29, ../sass/includes/_iconFont.scss */
.icon-github:after {
  content: "\e601";
}

/* line 32, ../sass/includes/_iconFont.scss */
.icon-twitter:after {
  content: "\e602";
}

/* line 5, ../sass/includes/_defaults.scss */
body {
  font-family: "Noto Sans", sans-serif;
  font-size: 15px;
  background-color: #fafafa;
  color: #151515;
}

/* line 12, ../sass/includes/_defaults.scss */
p {
  line-height: 20px;
}

/* line 16, ../sass/includes/_defaults.scss */
a {
  color: #151515;
  text-decoration: none;
}
/* line 20, ../sass/includes/_defaults.scss */
a:hover {
  text-decoration: underline;
}

/* line 25, ../sass/includes/_defaults.scss */
.container {
  margin: auto;
  position: relative;
  padding-top: 30px;
  width: 1000px;
}

@media only screen and (min-width: 320px) and (max-width: 1024px) {
  /* line 33, ../sass/includes/_defaults.scss */
  .container {
    width: 90%;
  }
}
/* main info box */
/* line 2, ../sass/includes/_navBox.scss */
.info-main {
  float: left;
  width: 136px;
  text-align: right;
}

/* line 8, ../sass/includes/_navBox.scss */
.nav-header {
  font-size: 24px;
  font-weight: 600;
}

/* line 13, ../sass/includes/_navBox.scss */
.nav-item-group {
  margin: 24px 0px 24px;
  font-size: 16px;
}
/* line 17, ../sass/includes/_navBox.scss */
.nav-item-group .nav-item-line {
  margin-bottom: 7px;
}

/* line 24, ../sass/includes/_navBox.scss */
.nav-connect-group .nav-item-line {
  margin-bottom: 7px;
}
/* line 29, ../sass/includes/_navBox.scss */
.nav-connect-group a:visited {
  color: #151515;
}
/* line 34, ../sass/includes/_navBox.scss */
.nav-connect-group .connect-icon {
  display: inline-block;
  width: 15px;
  margin-left: 12px;
}

@media only screen and (min-width: 320px) and (max-width: 1024px) {
  /* line 43, ../sass/includes/_navBox.scss */
  .info-main {
    float: none;
    width: 100%;
    text-align: left;
  }

  /* line 49, ../sass/includes/_navBox.scss */
  .nav-header {
    height: 32px;
  }

  /* line 53, ../sass/includes/_navBox.scss */
  .nav-item-group, .nav-connect-group {
    margin: 12px 0px 0px;
    height: 20px;
    line-height: 16px;
  }
  /* line 58, ../sass/includes/_navBox.scss */
  .nav-item-group .nav-item-line, .nav-connect-group .nav-item-line {
    display: inline-block;
    border-left: 1px solid #151515;
    padding: 0px 8px;
  }
  /* line 63, ../sass/includes/_navBox.scss */
  .nav-item-group .nav-item-line:first-child, .nav-connect-group .nav-item-line:first-child {
    border-left: none;
    padding-left: 0px;
  }
}
/* main viewing box, defaults */
/* line 2, ../sass/includes/_mainViewer.scss */
.viewing-main {
  margin: 47px 0px 50px;
  padding-left: 200px;
}
/* line 6, ../sass/includes/_mainViewer.scss */
.viewing-main h3 {
  font-size: 16px;
  font-weight: 600;
}
/* line 11, ../sass/includes/_mainViewer.scss */
.viewing-main p {
  margin-top: 15px;
}
/* line 14, ../sass/includes/_mainViewer.scss */
.viewing-main p a {
  text-decoration: underline;
}

/* line 22, ../sass/includes/_mainViewer.scss */
.portfolio-header {
  font-style: italic;
}

/* line 26, ../sass/includes/_mainViewer.scss */
.work-entry-list {
  margin-top: 20px;
  list-style: square inside;
}

/* line 31, ../sass/includes/_mainViewer.scss */
.work-entry {
  margin-bottom: 12px;
}

/* line 41, ../sass/includes/_mainViewer.scss */
.portfolio-item .portfolio-item-title {
  font-size: 16px;
  font-weight: 700;
  margin-top: 15px;
}
/* line 46, ../sass/includes/_mainViewer.scss */
.portfolio-item .portfolio-item-title a {
  text-decoration: underline;
}
/* line 51, ../sass/includes/_mainViewer.scss */
.portfolio-item .portfolio-description-title {
  margin-top: 15px;
  font-style: italic;
}
/* line 57, ../sass/includes/_mainViewer.scss */
.portfolio-item .portfolio-item-body p {
  margin-top: 15px;
}
/* line 62, ../sass/includes/_mainViewer.scss */
.portfolio-item .portfolio-image {
  margin-top: 15px;
  max-width: 800px;
}

@media only screen and (min-width: 320px) and (max-width: 1024px) {
  /* line 69, ../sass/includes/_mainViewer.scss */
  .viewing-main {
    margin-top: 30px;
    padding-left: 0px;
  }

  /* line 76, ../sass/includes/_mainViewer.scss */
  .portfolio-item .portfolio-image {
    max-width: 100%;
  }
}
