body {
	font-family: "Noto Sans", sans-serif;
	background-color: #151515;
	color: #fafafa;
}

.clickable {
	cursor: pointer;
}

.container.main {
	padding: 20px 0px 0px 0px;
	font-size: 20px;
	text-align: justify;
}

.container.header {
	width: 65%;
	margin: auto;
}

.container.header .header-box {
	display: table;
	width: 100%;
}

.container.header .header-item {
	display: table-cell;
}

.container.header .header-item.nav {
	text-align: center;
}

.container.viewing {

}

.container.footer {
	width: 65%;
	margin: auto;
}

canvas {
	display: block;
	margin: auto;
}