---
title: Mark Hintz - Portfolio
layout: default
---

<p class="portfolio-header">This is a selection from the projects I've worked on while at Periscopic and Interactive Things, for various clients from around the world. Generally, credit for the conception, planning, and design work belongs to the excellent teammates I've worked with. Most of the projects also involved collaboration with other developers.</p>

<p class="portfolio-header">While at <a href="http://www.interactivethings.com/" target="_blank">Interactive Things</a></p>

<ul class="work-entry-list">
  {% for item in site.categories.ixtwork %}
    <li class="work-entry">
      <a href={{ site.url }}{{ item.url }}>{{ item.title }}</a>
    </li>
  {% endfor %}
</ul>

<p class="portfolio-header">While at <a href="http://www.periscopic.com/" target="_blank">Periscopic</a></p>

<ul class="work-entry-list">
	{% for item in site.categories.periscopicwork %}
		<li class="work-entry">
			<a href={{ site.url }}{{ item.url }}>{{ item.title }}</a>
		</li>
	{% endfor %}
</ul>
