<div class="info-main">
	<div class="nav-header"><a href="{{ site.url }}">Mark Hintz</a></div>
	<div class="nav-item-group">
		<div class="nav-item-line"><a href="{{ site.url }}/portfolio">Portfolio</a></div>
		<div class="nav-item-line"><a href="{{ site.url }}/explorations">Explorations</a></div>
		<div class="nav-item-line"><a href="{{ site.url }}/files/Mark Hintz Resume 2014.pdf" target="_blank">CV (PDF)</a></div>
	<!-- working on these features
		<div class="nav-item-line"><a href="{{ site.url }}/blog">Blog</a></div>
	-->
	</div>
	<div class="nav-connect-group">
		<div><a class="connect-item email-connect" href="#" target="_blank">Email</a><span class="connect-icon icon-envelope"></span></div>
		<script>
			var emailArr = [ {% for part in site.data.contact.email %}"{{ part }}"{% unless forloop.last %},{% endunless %}{% endfor %} ],
				emailHref = emailArr.join(""),
				collections = document.getElementsByClassName("email-connect");
			for (var i = 0, l = collections.length; i < l; ++i) { collections[i].setAttribute("href", emailHref); }
		</script>
		<div><a class="connect-item" href="{{ site.data.contact.twitter }}" target="_blank">Twitter</a><span class="connect-icon icon-twitter"></span></div>
		<div><a class="connect-item" href="{{ site.data.contact.github }}" target="_blank">Github</a><span class="connect-icon icon-github"></span></div>
	</div>
</div>