<div class="nav-header nav-item clickable" data-route="" >Mark Hintz</div>
<div class="nav-item-group">
	<div class="nav-item-line"><span class="nav-item clickable" data-route="work">Portfolio</span></div>
	<div class="nav-item-line"><a href="files/Mark Hintz Resume 2014.pdf" target="_blank">CV (PDF)</a></div>

<!-- working on these features
	<div><span class="nav-item clickable" data-route="explorations">Explorations</span></div>
	<div><span class="nav-item clickable" data-route="blog">Blog</span></div>
-->
</div>
<div class="nav-connect-group">
	<div><a class="connect-item email-connect" href="#" target="_blank">Email</a><span class="connect-icon icon-envelope"></span></div>
	<script>
		var emailHref = ["mailto:", "mark", "o", "hintz", "@", "gmail", ".com"].join(""),
			collections = document.getElementsByClassName("email-connect");
		for (var i = 0, l = collections.length; i < l; ++i) { collections[i].setAttribute("href", emailHref); }
	</script>
	<div><a class="connect-item" href="{{ site.data.members.twitter }}" target="_blank">Twitter</a><span class="connect-icon icon-twitter"></span></div>
	<div><a class="connect-item" href="{{ site.data.members.github }}" target="_blank">Github</a><span class="connect-icon icon-github"></span></div>
</div>