doctype html
html(lang="en")
	head
		title WebGL demo with user camera, uploaded files as textures
		meta(charset="UTF-8")
		style.
			body {
				margin: 0;
			}
			canvas {
				display: block;
				width: 100%;
				height: 100%;
			}

		script(src="lib/js/three.js")

		script(src="js/Controls.js")
		script(src="js/Cubes.js")
		script(src="js/example.js")
	body