---
layout: default
---

<div class="portfolio-item">
	<a href="{{ site.url}}/explorations" class="portfolio-back-button">Back</a>
	<h3 class="portfolio-item-title">
		{% if page.projectUrl %}
			<a href="{{ page.projectUrl }}" target="_blank">{{ page.projectName }}</a>
		{% else %}
			{{ page.projectName }}
		{% endif %}
		</h3>
	<div class="portfolio-item-body">
		{{ content }}
	</div>
	{% for img in page.photos %}
		<img class="portfolio-image" src="{{ site.url }}/{{ img.url }}"></img>
	{% endfor %}
</div>