<div class="portfolio-container">
	<p class="portfolio-header"><%= header %></p>
	<% _.each(portfolioItems, function(item) { %>
		<div class="portfolio-item">
			<h3 class="portfolio-item-title">
				<a href="<%= item.url %>" target="_blank"><%= item.title %></a>
			</h3>
			<h4 class="portfolio-description-title"><%= item.descriptionTitle %></h4>
			<p class="portfolio-description-body"><%= item.descriptionBody %></p>
			<p class="portfolio-responsibility-body"><%= item.responsibility %></p>
			<% _.each(item.photos, function(photoUrl) { %>
				<img class="portfolio-image" src="<%= photoUrl %>"></img>
			<% }); %>
		</div>
	<% }); %>
</div>