---
layout: default
---

<div class="portfolio-item">
	<a href="{{ site.url}}/portfolio" class="portfolio-back-button">Back</a>
	<h3 class="portfolio-item-title">
		<a href="{{ page.workUrl }}" target="_blank">{{ page.title }}</a>
	</h3>
	<h4 class="portfolio-description-title">{{ page.descriptionTitle }}</h4>
	<div class="portfolio-item-body">
		{{ content }}
	</div>
	{% for img in page.photos %}
	<div class="portfolio-image">
		{% if img.title %}
			<div class="portfolio-image-title">{{ img.title }}</div>
		{% endif %}
		<img class="portfolio-image" src="{{ site.url }}/{{ img.url }}" title="{{ img.title }}"></img>
	</div>
	{% endfor %}
</div>