<div class="nav-header nav-item clickable" data-route="root" >Mark Hintz</div>
<div class="nav-item-group">
	<div class="nav-item clickable" data-route="work">Work</div>
<!-- working on these features
	<div class="nav-item clickable" data-route="explorations">Explorations</div>
	<div class="nav-item clickable" data-route="blog">Blog</div>
-->
</div>
<div class="nav-connect-group">
	<a class="connect-item" href="mailto:<%= email %>" target="_blank">Email</a>
	<a class="connect-item" href="<%= twitter %>" target="_blank">Twitter</a>
	<a class="connect-item" href="<%= github %>" target="_blank">Github</a>
</div>