<div class="about-content">
	<h3>About Me</h3>
	<p>
		I'm a creative coder at <a href="http://www.periscopic.com">Periscopic</a>, a socially-conscious data visualization firm. I build interactive tools that help users explore interesting stories found in datasets. My proficiencies include a strong grasp of Javascript and HTML5 plus backend development in PHP and Python. I'm experienced at pixel-perfect implementations of any design, with flexible object-oriented software architectures in clean, readable code.
	</p>
	<p>
		I'm interested in creative applications of web technology, data visualization, interactive audiovisual installations, Processing, openFrameworks, Cinder, graphics programming, abstract geometry, and explorations of all kinds.
	</p>
</div>