// general
body {
	font-family: "Noto Sans", sans-serif;
	font-size: 15px;
	background-color: $BG_OFF_WHITE;
	color: $TEXT_DARK;
}

@media only screen and (max-width: 1024px) {
	body {
		font-size: 26px;
	}
}

@media only screen and (max-width: 525px) {
	body {
		font-size: 18px;
	}
}

p {
	line-height: 1.35em;
}

a {
	color: $TEXT_DARK;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

.container {
	margin: auto;
	position: relative;
	padding-top: 30px;
	width: 1000px;
}

@media only screen and (max-width: 1024px) {
	.container {
		width: 90%;
	}
}