/* main info box */
.info-main {
	float: left;
	width: 136px;
	text-align: right;
}

.nav-header {
	font-size: 24px;
	font-weight: 600;
}

.nav-item-group {
	margin: 24px 0px 24px;
	font-size: 16px;

	.nav-item-line {
		margin-bottom: 7px;
	}
}

.nav-connect-group {

	div {
		margin-bottom: 7px;
	}

	a {
		&:visited {
			color: $TEXT_DARK;
		}
	}

	.connect-icon {
		width: 15px;
		margin-left: 12px;
	}
}