/* main info box */
.info-main {
	float: left;
	width: 136px;
	text-align: right;
}

.nav-header {
	font-size: 1.5em;
	font-weight: 600;
}

.nav-item-group {
	margin: 24px 0px 24px;
	font-size: 1.2em;

	.nav-item-line {
		margin-bottom: 7px;
	}
}

.nav-connect-group {

	.nav-item-line {
		margin-bottom: 7px;
	}

	a {
		&:visited {
			color: $TEXT_DARK;
		}
	}

	.connect-icon {
		display: inline-block;
		width: 15px;
		margin-left: 12px;
	}
}

@media only screen and (max-width: 1024px) {
	// smartphone and tablet - the info box style
	.info-main {
		float: none;
		width: 100%;
		text-align: left;
	}

	.nav-header {

	}

	.nav-item-group, .nav-connect-group {
		margin: 12px 0px 0px;
		line-height: 1.2em;

		.nav-item-line {
			display: inline-block;
			border-left: 1px solid $TEXT_DARK;
			padding: 0px 8px;

			&:first-child {
				border-left: none;
				padding-left: 0px;
			}
		}
	}
}
