---
layout: default
description: A coding project I've worked on in my spare time
---

<div class="portfolio-item">
	<a href="{{ site.url}}/explorations" class="portfolio-back-button">Back</a>
	{% if page.projectUrl %}
		<h3 class="portfolio-item-title"><a href="{{ page.projectUrl }}" target="_blank">{{ page.projectName }}</a> (link)</h3>
	{% else %}
		<h3 class="portfolio-item-title">{{ page.projectName }}</h3>
	{% endif %}
	<div class="portfolio-item-body">
		{{ content }}
	</div>
	{% for img in page.photos %}
	<div class="portfolio-image">
		{% if img.title %}
			<div class="portfolio-img-title">{{ img.title }}</div>
		{% endif %}
		<img class="portfolio-img" src="{{ site.url }}/{{ img.url }}" title="{{ img.title }}"></img>
	</div>
	{% endfor %}
</div>