<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{{#if pageTitle }}{{ pageTitle }}{{else}}{{ mdSiteTitle }}{{/if}}</title>
	{{#if pageDescription }}<meta name="description" content="{{ pageDescription }}">{{/if}}
	<link rel="canonical" href="http://www.markhz.com/{{ filePath }}"/>

	<link rel="icon" href="/img/favicon.ico">
	<link href='http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="/css/main_style.css">

</head>
<body>
	<div class="container">

		{{> navbar }}

		<div class="viewing-main">

			{{{ contents }}}

		</div>
	</div>
</body>
</html>
