<div class="info-main">
	<div class="nav-header"><a href="/">Mark Hintz</a></div>
	<div class="nav-item-group">
		<div class="nav-item-line"><a href="/portfolio">Portfolio</a></div><!-- 
	 --><div class="nav-item-line"><a href="/explorations">Explorations</a></div><!-- 
	 --><div class="nav-item-line"><a href="/speaking">Speaking</a></div><!-- 
	 --><div class="nav-item-line"><a href="/files/{{ mdResumeName }}" target="_blank">Resume</a></div>
	<!-- working on this one
		<div class="nav-item-line"><a href="/blog">Blog</a></div>
	-->
	</div>
	<div class="nav-connect-group">
		<div class="nav-item-line">
			<a class="connect-item email-connect" href="#">Email</a><span class="connect-icon icon-envelope"></span>
		</div>
		<script>
			var collections = document.getElementsByClassName("email-connect");
			for (var i = 0, l = collections.length; i < l; ++i) { collections[i].setAttribute("href", {{{ mdEmailTo }}}); }
		</script>
		<div class="nav-item-line">
			<a class="connect-item" href="{{ mdTwitterUrl }}" target="_blank">Twitter</a><span class="connect-icon icon-twitter"></span>
		</div>
		<div class="nav-item-line">
			<a class="connect-item" href="{{ mdGithubUrl }}" target="_blank">Github</a><span class="connect-icon icon-github"></span>
		</div>
	</div>
</div>
