---
layout: default.html
pageDescription: A project I've contributed to at work - Mark Hintz
---

<div class="portfolio-item">
	<a href="/portfolio" class="portfolio-back-button">Back</a>
	<h3 class="portfolio-item-title">
		<a href="{{ workUrl }}" target="_blank">{{ workTitle }}</a>
	</h3>
	<h4 class="portfolio-description-title">{{ workDesc }}</h4>
	<div class="portfolio-item-body">
		{{{ contents }}}
	</div>
	{{#each workPhotos }}
	<div class="portfolio-image">
		{{#if this.title }}
			<div class="portfolio-img-title">{{ this.title }}</div>
		{{/if}}
		<img class="portfolio-img" src="/{{ this.url }}" title="{{#if this.title }}{{ this.title }}{{/if}}"></img>
	</div>
	{{/each}}
</div>
