/* main viewing box, defaults */
.viewing-main {
	margin: 47px 0px 50px;
	padding-left: 200px;

	h1 {
		font-size: 1.2em;
		font-weight: 600;
	}

	p {
		margin-top: 1em;

		a {
			text-decoration: underline;
		}
	}
}

@media only screen and (max-width: 1024px) {
	.viewing-main {
		margin-top: 0px;
		padding-left: 0px;
	}
}

// portfolio section

.portfolio-header {
	font-style: italic;
	margin-bottom: 1em;
}

.portfolio-thumbnail {
	display: inline-block;
	width: 33%;
}

@media only screen and (max-width: 1024px) {
	.portfolio-thumbnail {
		width: 50%;
	}
}

@media only screen and (max-width: 460px) {
	.portfolio-thumbnail {
		width: 100%;
		margin-top: 1em;
	}
}

.portfolio-thumbnail-img {
	width: 100%;
	vertical-align: top;
}

.work-entry-list {
	margin-top: 1.5em;
	list-style: square inside;
}

.work-entry {
	margin-bottom: 1em;
}

.work-description {
	margin-top: 0.7em;
	margin-left: 2em;
}

.portfolio-item {

	.portfolio-back-button {

	}

	.portfolio-item-title {
		font-size: 1.2em;
		font-weight: $FONT_BOLD;
		margin-top: 1em;

		a {
			text-decoration: underline;
		}
	}

	.portfolio-description-title {
		margin-top: 1em;
		font-style: italic;
	}

	.portfolio-item-body {
		p {
			margin-top: 1em;
		}
	}

	.portfolio-image {
		margin-top: 1em;
	}

	.portfolio-img-title {
		margin-bottom: 0.5em;
	}

	.portfolio-img {
		max-width: 800px;
	}

}

@media only screen and (max-width: 1024px) {
	.portfolio-item {
		margin-top: 3em;

		.portfolio-img {
			max-width: 100%;
		}
	}
}
