/* main info box */
.info-main {
	float: left;
	width: 136px;
	text-align: right;
}

.nav-header {
	font-size: 1.5em;
	font-weight: 600;
}

.nav-item-group {
	margin: 24px 0px 24px;
	// font-size: 1.2em;

	.nav-item-line {
		margin-bottom: 0.5em;
	}
}

.nav-connect-group {

	.nav-item-line {
		margin-bottom: 0.5em;
	}

	a {
		&:visited {
			color: $TEXT_DARK;
		}
	}

	.connect-icon {
		display: inline-block;
		width: 1em;
		margin-right: 0.3em;
		vertical-align: bottom;
	}
}

@media only screen and (max-width: $BP_MED) {
	// smartphone and tablet - the info box style
	.info-main {
		float: none;
		width: 100%;
		text-align: left;
	}

	.nav-header {

	}

	.nav-item-group {
		margin: 1em 0em 0em;
		line-height: 1.2em;

		.nav-item-line {

		}
	}

	.nav-connect-group {
		margin: 0;
		line-height: 1.2em;

		.nav-item-line {
			display: inline-block;
			border-left: 1px solid $TEXT_DARK;
			padding: 0em 0.3em;
			margin: 0;
			box-sizing: border-box;

			&:first-child {
				border-left: none;
				padding-left: 0;
			}
		}
	}
}

@media only screen and (max-width: $BP_SMALL) {
	.nav-connect-group {
		.nav-item-line {
			display: block;
			text-decoration: underline;
			border: none;
			padding: 0.4em 0 0 0;
		}
	}
}
