html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

.not-found-container {
  width: 40%;
  margin: auto;
  font-size: 1.2em;
  text-align: center;
}

@media (max-width: 1024px) {
  .not-found-container {
    width: 80%;
  }
}
.not-found-message {
  margin-top: 2em;
}

@font-face {
  font-family: 'icomoon';
  src: url("fonts/icomoon.eot");
  src: url("fonts/icomoon.eot?#iefix") format("embedded-opentype"), url("fonts/icomoon.woff") format("woff"), url("fonts/icomoon.ttf") format("truetype"), url("fonts/icomoon.svg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-envelope:after {
  content: "\e600";
}

.icon-github:after {
  content: "\e601";
}

.icon-twitter:after {
  content: "\e602";
}

body {
  font-family: "Noto Sans", sans-serif;
  font-size: 15px;
  background-color: #fff;
  color: #000;
}

@media only screen and (max-width: 1024px) {
  body {
    font-size: 22px;
  }
}
@media only screen and (max-width: 525px) {
  body {
    font-size: 18px;
  }
}
h4 {
  font-size: 1em;
  font-weight: 700;
  margin: 1em 0em;
}

li {
  margin: 0.4em 0 0 1.2em;
  list-style: square outside;
}

p {
  line-height: 1.35em;
}

a {
  color: #000;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.container {
  margin: auto;
  position: relative;
  padding-top: 30px;
  padding-bottom: 50px;
  width: 1000px;
}

@media only screen and (max-width: 1024px) {
  .container {
    width: 90%;
  }
}
/* main info box */
.info-main {
  float: left;
  width: 136px;
  text-align: right;
}

.nav-header {
  font-size: 1.5em;
  font-weight: 600;
}

.nav-item-group {
  margin: 24px 0px 24px;
}
.nav-item-group .nav-item-line {
  margin-bottom: 0.5em;
}

.nav-connect-group .nav-item-line {
  margin-bottom: 0.5em;
}
.nav-connect-group a:visited {
  color: #000;
}
.nav-connect-group .connect-icon {
  display: inline-block;
  width: 1em;
  margin-right: 0.3em;
  vertical-align: bottom;
}

@media only screen and (max-width: 1024px) {
  .info-main {
    float: none;
    width: 100%;
    text-align: left;
  }

  .nav-item-group {
    margin: 1em 0em 0em;
    line-height: 1.2em;
  }

  .nav-connect-group {
    margin: 0;
    line-height: 1.2em;
  }
  .nav-connect-group .nav-item-line {
    display: inline-block;
    border-left: 1px solid #000;
    padding: 0em 0.3em;
    margin: 0;
    box-sizing: border-box;
  }
  .nav-connect-group .nav-item-line:first-child {
    border-left: none;
    padding-left: 0;
  }
}
/* main viewing box, defaults */
.viewing-main {
  margin: 0px 0px;
  padding-left: 200px;
}
.viewing-main h1 {
  font-size: 1.2em;
  font-weight: 600;
}
.viewing-main p {
  margin-top: 1em;
}
.viewing-main p a {
  text-decoration: underline;
}

@media only screen and (max-width: 1024px) {
  .viewing-main {
    margin-top: 0px;
    padding-left: 0px;
  }
}
.portfolio-title {
  font-size: 1.5em;
  font-weight: bold;
}

@media only screen and (max-width: 1024px) {
  .portfolio-title {
    margin-top: 2em;
  }
}
.portfolio-header {
  font-style: italic;
  margin-bottom: 1em;
}

.portfolio-thumbnail {
  display: inline-block;
  width: 33%;
}

@media only screen and (max-width: 1024px) {
  .portfolio-thumbnail {
    width: 50%;
  }
}
@media only screen and (max-width: 460px) {
  .portfolio-thumbnail {
    width: 100%;
    margin-top: 1em;
  }
}
.portfolio-thumbnail-img {
  width: 100%;
  vertical-align: top;
}

.work-entry-list {
  margin-top: 1.5em;
  list-style: square inside;
}

.work-entry {
  margin-bottom: 1em;
}

.work-description {
  margin-top: 0.7em;
  margin-left: 2em;
}

.portfolio-item .portfolio-item-title {
  font-size: 1.2em;
  font-weight: 700;
  margin-top: 1em;
}
.portfolio-item .portfolio-item-title a {
  text-decoration: underline;
}
.portfolio-item .portfolio-description-title {
  margin-top: 1em;
  font-style: italic;
}
.portfolio-item .portfolio-item-body p {
  margin-top: 1em;
}
.portfolio-item .portfolio-image {
  margin-top: 1em;
}
.portfolio-item .portfolio-img-title {
  margin-bottom: 0.5em;
}
.portfolio-item .portfolio-img {
  max-width: 800px;
}

@media only screen and (max-width: 1024px) {
  .portfolio-item {
    margin-top: 3em;
  }
  .portfolio-item .portfolio-img {
    max-width: 100%;
  }
}
